//
//   Core Framework - Utilities/Background
//
//   @author     Louis Ouellet <louis@laswitchtech.com>
//

// Background - Base
.bg-blue { background-color: @blue !important; }
.bg-indigo { background-color: @indigo !important; }
.bg-purple { background-color: @purple !important; }
.bg-pink { background-color: @pink !important; }
.bg-red { background-color: @red !important; }
.bg-orange { background-color: @orange !important; }
.bg-yellow { background-color: @yellow !important; }
.bg-green { background-color: @green !important; }
.bg-teal { background-color: @teal !important; }
.bg-cyan { background-color: @cyan !important; }
.bg-white { background-color: @white !important; }
.bg-black { background-color: @black !important; }
.bg-gray-100 { background-color: @gray-100 !important; }
.bg-gray-200 { background-color: @gray-200 !important; }
.bg-gray-300 { background-color: @gray-300 !important; }
.bg-gray-400 { background-color: @gray-400 !important; }
.bg-gray-500 { background-color: @gray-500 !important; }
.bg-gray-600 { background-color: @gray-600 !important; }
.bg-gray-700 { background-color: @gray-700 !important; }
.bg-gray-800 { background-color: @gray-800 !important; }
.bg-gray-900 { background-color: @gray-900 !important; }
.bg-gray { background-color: @gray !important; }
.bg-gray-light { background-color: @gray-light !important; }
.bg-gray-dark { background-color: @gray-dark !important; }

// Background - UI
.bg-primary { background-color: @primary !important; }
.bg-secondary { background-color: @secondary !important; }
.bg-success { background-color: @success !important; }
.bg-danger { background-color: @danger !important; }
.bg-warning { background-color: @warning !important; }
.bg-info { background-color: @info !important; }
.bg-light { background-color: @light !important; }
.bg-dark { background-color: @dark !important; }

// Background - Text - Base
.text-bg-blue { background-color: @blue !important; .set-color(@blue); }
.text-bg-indigo { background-color: @indigo !important; .set-color(@indigo); }
.text-bg-purple { background-color: @purple !important; .set-color(@purple); }
.text-bg-pink { background-color: @pink !important; .set-color(@pink); }
.text-bg-red { background-color: @red !important; .set-color(@red); }
.text-bg-orange { background-color: @orange !important; .set-color(@orange); }
.text-bg-yellow { background-color: @yellow !important; .set-color(@yellow); }
.text-bg-green { background-color: @green !important; .set-color(@green); }
.text-bg-teal { background-color: @teal !important; .set-color(@teal); }
.text-bg-cyan { background-color: @cyan !important; .set-color(@cyan); }
.text-bg-white { background-color: @white !important; .set-color(@white); }
.text-bg-black { background-color: @black !important; .set-color(@black); }
.text-bg-gray-100 { background-color: @gray-100 !important; .set-color(@gray-100); }
.text-bg-gray-200 { background-color: @gray-200 !important; .set-color(@gray-200); }
.text-bg-gray-300 { background-color: @gray-300 !important; .set-color(@gray-300); }
.text-bg-gray-400 { background-color: @gray-400 !important; .set-color(@gray-400); }
.text-bg-gray-500 { background-color: @gray-500 !important; .set-color(@gray-500); }
.text-bg-gray-600 { background-color: @gray-600 !important; .set-color(@gray-600); }
.text-bg-gray-700 { background-color: @gray-700 !important; .set-color(@gray-700); }
.text-bg-gray-800 { background-color: @gray-800 !important; .set-color(@gray-800); }
.text-bg-gray-900 { background-color: @gray-900 !important; .set-color(@gray-900); }
.text-bg-gray { background-color: @gray !important; .set-color(@gray); }
.text-bg-gray-light { background-color: @gray-light !important; .set-color(@gray-light); }
.text-bg-gray-dark { background-color: @gray-dark !important; .set-color(@gray-dark); }

// Background - Text - UI
.text-bg-primary { background-color: @primary !important; .set-color(@primary); }
.text-bg-secondary { background-color: @secondary !important; .set-color(@secondary); }
.text-bg-success { background-color: @success !important; .set-color(@success); }
.text-bg-danger { background-color: @danger !important; .set-color(@danger); }
.text-bg-warning { background-color: @warning !important; .set-color(@warning); }
.text-bg-info { background-color: @info !important; .set-color(@info); }
.text-bg-light { background-color: @light !important; .set-color(@light); }
.text-bg-dark { background-color: @dark !important; .set-color(@dark); }
