//
// Core Framework Theme - Utilities/Position
//
// @author     Louis Ouellet <louis@laswitchtech.com>
//

// Position
.position-static { position: static; }
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.position-sticky { position: sticky; }
@media (min-width: @sm) {
    .position-sm-static { position: static; }
    .position-sm-relative { position: relative; }
    .position-sm-absolute { position: absolute; }
    .position-sm-fixed { position: fixed; }
    .position-sm-sticky { position: sticky; }
}
@media (min-width: @md) {
    .position-md-static { position: static; }
    .position-md-relative { position: relative; }
    .position-md-absolute { position: absolute; }
    .position-md-fixed { position: fixed; }
    .position-md-sticky { position: sticky; }
}
@media (min-width: @lg) {
    .position-lg-static { position: static; }
    .position-lg-relative { position: relative; }
    .position-lg-absolute { position: absolute; }
    .position-lg-fixed { position: fixed; }
    .position-lg-sticky { position: sticky; }
}
@media (min-width: @xl) {
    .position-xl-static { position: static; }
    .position-xl-relative { position: relative; }
    .position-xl-absolute { position: absolute; }
    .position-xl-fixed { position: fixed; }
    .position-xl-sticky { position: sticky; }
}
@media (min-width: @xxl) {
    .position-xxl-static { position: static; }
    .position-xxl-relative { position: relative; }
    .position-xxl-absolute { position: absolute; }
    .position-xxl-fixed { position: fixed; }
    .position-xxl-sticky { position: sticky; }
}

// Top
.top-0 { top: 0 !important; }
.top-10 { top: 10% !important; }
.top-20 { top: 20% !important; }
.top-25 { top: 25% !important; }
.top-30 { top: 30% !important; }
.top-33 { top: 33% !important; }
.top-40 { top: 40% !important; }
.top-50 { top: 50% !important; }
.top-60 { top: 60% !important; }
.top-66 { top: 66% !important; }
.top-70 { top: 70% !important; }
.top-75 { top: 75% !important; }
.top-80 { top: 80% !important; }
.top-90 { top: 90% !important; }
.top-100 { top: 100% !important; }
@media (min-width: @sm) {
    .top-sm-0 { top: 0 !important; }
    .top-sm-10 { top: 10% !important; }
    .top-sm-20 { top: 20% !important; }
    .top-sm-25 { top: 25% !important; }
    .top-sm-30 { top: 30% !important; }
    .top-sm-33 { top: 33% !important; }
    .top-sm-40 { top: 40% !important; }
    .top-sm-50 { top: 50% !important; }
    .top-sm-60 { top: 60% !important; }
    .top-sm-66 { top: 66% !important; }
    .top-sm-70 { top: 70% !important; }
    .top-sm-75 { top: 75% !important; }
    .top-sm-80 { top: 80% !important; }
    .top-sm-90 { top: 90% !important; }
    .top-sm-100 { top: 100% !important; }
}
@media (min-width: @md) {
    .top-md-0 { top: 0 !important; }
    .top-md-10 { top: 10% !important; }
    .top-md-20 { top: 20% !important; }
    .top-md-25 { top: 25% !important; }
    .top-md-30 { top: 30% !important; }
    .top-md-33 { top: 33% !important; }
    .top-md-40 { top: 40% !important; }
    .top-md-50 { top: 50% !important; }
    .top-md-60 { top: 60% !important; }
    .top-md-66 { top: 66% !important; }
    .top-md-70 { top: 70% !important; }
    .top-md-75 { top: 75% !important; }
    .top-md-80 { top: 80% !important; }
    .top-md-90 { top: 90% !important; }
    .top-md-100 { top: 100% !important; }
}
@media (min-width: @lg) {
    .top-lg-0 { top: 0 !important; }
    .top-lg-10 { top: 10% !important; }
    .top-lg-20 { top: 20% !important; }
    .top-lg-25 { top: 25% !important; }
    .top-lg-30 { top: 30% !important; }
    .top-lg-33 { top: 33% !important; }
    .top-lg-40 { top: 40% !important; }
    .top-lg-50 { top: 50% !important; }
    .top-lg-60 { top: 60% !important; }
    .top-lg-66 { top: 66% !important; }
    .top-lg-70 { top: 70% !important; }
    .top-lg-75 { top: 75% !important; }
    .top-lg-80 { top: 80% !important; }
    .top-lg-90 { top: 90% !important; }
    .top-lg-100 { top: 100% !important; }
}
@media (min-width: @xl) {
    .top-xl-0 { top: 0 !important; }
    .top-xl-10 { top: 10% !important; }
    .top-xl-20 { top: 20% !important; }
    .top-xl-25 { top: 25% !important; }
    .top-xl-30 { top: 30% !important; }
    .top-xl-33 { top: 33% !important; }
    .top-xl-40 { top: 40% !important; }
    .top-xl-50 { top: 50% !important; }
    .top-xl-60 { top: 60% !important; }
    .top-xl-66 { top: 66% !important; }
    .top-xl-70 { top: 70% !important; }
    .top-xl-75 { top: 75% !important; }
    .top-xl-80 { top: 80% !important; }
    .top-xl-90 { top: 90% !important; }
    .top-xl-100 { top: 100% !important; }
}
@media (min-width: @xxl) {
    .top-xxl-0 { top: 0 !important; }
    .top-xxl-10 { top: 10% !important; }
    .top-xxl-20 { top: 20% !important; }
    .top-xxl-25 { top: 25% !important; }
    .top-xxl-30 { top: 30% !important; }
    .top-xxl-33 { top: 33% !important; }
    .top-xxl-40 { top: 40% !important; }
    .top-xxl-50 { top: 50% !important; }
    .top-xxl-60 { top: 60% !important; }
    .top-xxl-66 { top: 66% !important; }
    .top-xxl-70 { top: 70% !important; }
    .top-xxl-75 { top: 75% !important; }
    .top-xxl-80 { top: 80% !important; }
    .top-xxl-90 { top: 90% !important; }
    .top-xxl-100 { top: 100% !important; }
}

// Bottom
.bottom-0 { bottom: 0 !important; }
.bottom-10 { bottom: 10% !important; }
.bottom-20 { bottom: 20% !important; }
.bottom-25 { bottom: 25% !important; }
.bottom-30 { bottom: 30% !important; }
.bottom-33 { bottom: 33% !important; }
.bottom-40 { bottom: 40% !important; }
.bottom-50 { bottom: 50% !important; }
.bottom-60 { bottom: 60% !important; }
.bottom-66 { bottom: 66% !important; }
.bottom-70 { bottom: 70% !important; }
.bottom-75 { bottom: 75% !important; }
.bottom-80 { bottom: 80% !important; }
.bottom-90 { bottom: 90% !important; }
.bottom-100 { bottom: 100% !important; }
@media (min-width: @sm) {
    .bottom-sm-0 { bottom: 0 !important; }
    .bottom-sm-10 { bottom: 10% !important; }
    .bottom-sm-20 { bottom: 20% !important; }
    .bottom-sm-25 { bottom: 25% !important; }
    .bottom-sm-30 { bottom: 30% !important; }
    .bottom-sm-33 { bottom: 33% !important; }
    .bottom-sm-40 { bottom: 40% !important; }
    .bottom-sm-50 { bottom: 50% !important; }
    .bottom-sm-60 { bottom: 60% !important; }
    .bottom-sm-66 { bottom: 66% !important; }
    .bottom-sm-70 { bottom: 70% !important; }
    .bottom-sm-75 { bottom: 75% !important; }
    .bottom-sm-80 { bottom: 80% !important; }
    .bottom-sm-90 { bottom: 90% !important; }
    .bottom-sm-100 { bottom: 100% !important; }
}
@media (min-width: @md) {
    .bottom-md-0 { bottom: 0 !important; }
    .bottom-md-10 { bottom: 10% !important; }
    .bottom-md-20 { bottom: 20% !important; }
    .bottom-md-25 { bottom: 25% !important; }
    .bottom-md-30 { bottom: 30% !important; }
    .bottom-md-33 { bottom: 33% !important; }
    .bottom-md-40 { bottom: 40% !important; }
    .bottom-md-50 { bottom: 50% !important; }
    .bottom-md-60 { bottom: 60% !important; }
    .bottom-md-66 { bottom: 66% !important; }
    .bottom-md-70 { bottom: 70% !important; }
    .bottom-md-75 { bottom: 75% !important; }
    .bottom-md-80 { bottom: 80% !important; }
    .bottom-md-90 { bottom: 90% !important; }
    .bottom-md-100 { bottom: 100% !important; }
}
@media (min-width: @lg) {
    .bottom-lg-0 { bottom: 0 !important; }
    .bottom-lg-10 { bottom: 10% !important; }
    .bottom-lg-20 { bottom: 20% !important; }
    .bottom-lg-25 { bottom: 25% !important; }
    .bottom-lg-30 { bottom: 30% !important; }
    .bottom-lg-33 { bottom: 33% !important; }
    .bottom-lg-40 { bottom: 40% !important; }
    .bottom-lg-50 { bottom: 50% !important; }
    .bottom-lg-60 { bottom: 60% !important; }
    .bottom-lg-66 { bottom: 66% !important; }
    .bottom-lg-70 { bottom: 70% !important; }
    .bottom-lg-75 { bottom: 75% !important; }
    .bottom-lg-80 { bottom: 80% !important; }
    .bottom-lg-90 { bottom: 90% !important; }
    .bottom-lg-100 { bottom: 100% !important; }
}
@media (min-width: @xl) {
    .bottom-xl-0 { bottom: 0 !important; }
    .bottom-xl-10 { bottom: 10% !important; }
    .bottom-xl-20 { bottom: 20% !important; }
    .bottom-xl-25 { bottom: 25% !important; }
    .bottom-xl-30 { bottom: 30% !important; }
    .bottom-xl-33 { bottom: 33% !important; }
    .bottom-xl-40 { bottom: 40% !important; }
    .bottom-xl-50 { bottom: 50% !important; }
    .bottom-xl-60 { bottom: 60% !important; }
    .bottom-xl-66 { bottom: 66% !important; }
    .bottom-xl-70 { bottom: 70% !important; }
    .bottom-xl-75 { bottom: 75% !important; }
    .bottom-xl-80 { bottom: 80% !important; }
    .bottom-xl-90 { bottom: 90% !important; }
    .bottom-xl-100 { bottom: 100% !important; }
}
@media (min-width: @xxl) {
    .bottom-xxl-0 { bottom: 0 !important; }
    .bottom-xxl-10 { bottom: 10% !important; }
    .bottom-xxl-20 { bottom: 20% !important; }
    .bottom-xxl-25 { bottom: 25% !important; }
    .bottom-xxl-30 { bottom: 30% !important; }
    .bottom-xxl-33 { bottom: 33% !important; }
    .bottom-xxl-40 { bottom: 40% !important; }
    .bottom-xxl-50 { bottom: 50% !important; }
    .bottom-xxl-60 { bottom: 60% !important; }
    .bottom-xxl-66 { bottom: 66% !important; }
    .bottom-xxl-70 { bottom: 70% !important; }
    .bottom-xxl-75 { bottom: 75% !important; }
    .bottom-xxl-80 { bottom: 80% !important; }
    .bottom-xxl-90 { bottom: 90% !important; }
    .bottom-xxl-100 { bottom: 100% !important; }
}

// Start
.start-0 { left: 0 !important; }
.start-10 { left: 10% !important; }
.start-20 { left: 20% !important; }
.start-25 { left: 25% !important; }
.start-30 { left: 30% !important; }
.start-33 { left: 33% !important; }
.start-40 { left: 40% !important; }
.start-50 { left: 50% !important; }
.start-60 { left: 60% !important; }
.start-66 { left: 66% !important; }
.start-70 { left: 70% !important; }
.start-75 { left: 75% !important; }
.start-80 { left: 80% !important; }
.start-90 { left: 90% !important; }
.start-100 { left: 100% !important; }
@media (min-width: @sm) {
    .start-sm-0 { left: 0 !important; }
    .start-sm-10 { left: 10% !important; }
    .start-sm-20 { left: 20% !important; }
    .start-sm-25 { left: 25% !important; }
    .start-sm-30 { left: 30% !important; }
    .start-sm-33 { left: 33% !important; }
    .start-sm-40 { left: 40% !important; }
    .start-sm-50 { left: 50% !important; }
    .start-sm-60 { left: 60% !important; }
    .start-sm-66 { left: 66% !important; }
    .start-sm-70 { left: 70% !important; }
    .start-sm-75 { left: 75% !important; }
    .start-sm-80 { left: 80% !important; }
    .start-sm-90 { left: 90% !important; }
    .start-sm-100 { left: 100% !important; }
}
@media (min-width: @md) {
    .start-md-0 { left: 0 !important; }
    .start-md-10 { left: 10% !important; }
    .start-md-20 { left: 20% !important; }
    .start-md-25 { left: 25% !important; }
    .start-md-30 { left: 30% !important; }
    .start-md-33 { left: 33% !important; }
    .start-md-40 { left: 40% !important; }
    .start-md-50 { left: 50% !important; }
    .start-md-60 { left: 60% !important; }
    .start-md-66 { left: 66% !important; }
    .start-md-70 { left: 70% !important; }
    .start-md-75 { left: 75% !important; }
    .start-md-80 { left: 80% !important; }
    .start-md-90 { left: 90% !important; }
    .start-md-100 { left: 100% !important; }
}
@media (min-width: @lg) {
    .start-lg-0 { left: 0 !important; }
    .start-lg-10 { left: 10% !important; }
    .start-lg-20 { left: 20% !important; }
    .start-lg-25 { left: 25% !important; }
    .start-lg-30 { left: 30% !important; }
    .start-lg-33 { left: 33% !important; }
    .start-lg-40 { left: 40% !important; }
    .start-lg-50 { left: 50% !important; }
    .start-lg-60 { left: 60% !important; }
    .start-lg-66 { left: 66% !important; }
    .start-lg-70 { left: 70% !important; }
    .start-lg-75 { left: 75% !important; }
    .start-lg-80 { left: 80% !important; }
    .start-lg-90 { left: 90% !important; }
    .start-lg-100 { left: 100% !important; }
}
@media (min-width: @xl) {
    .start-xl-0 { left: 0 !important; }
    .start-xl-10 { left: 10% !important; }
    .start-xl-20 { left: 20% !important; }
    .start-xl-25 { left: 25% !important; }
    .start-xl-30 { left: 30% !important; }
    .start-xl-33 { left: 33% !important; }
    .start-xl-40 { left: 40% !important; }
    .start-xl-50 { left: 50% !important; }
    .start-xl-60 { left: 60% !important; }
    .start-xl-66 { left: 66% !important; }
    .start-xl-70 { left: 70% !important; }
    .start-xl-75 { left: 75% !important; }
    .start-xl-80 { left: 80% !important; }
    .start-xl-90 { left: 90% !important; }
    .start-xl-100 { left: 100% !important; }
}
@media (min-width: @xxl) {
    .start-xxl-0 { left: 0 !important; }
    .start-xxl-10 { left: 10% !important; }
    .start-xxl-20 { left: 20% !important; }
    .start-xxl-25 { left: 25% !important; }
    .start-xxl-30 { left: 30% !important; }
    .start-xxl-33 { left: 33% !important; }
    .start-xxl-40 { left: 40% !important; }
    .start-xxl-50 { left: 50% !important; }
    .start-xxl-60 { left: 60% !important; }
    .start-xxl-66 { left: 66% !important; }
    .start-xxl-70 { left: 70% !important; }
    .start-xxl-75 { left: 75% !important; }
    .start-xxl-80 { left: 80% !important; }
    .start-xxl-90 { left: 90% !important; }
    .start-xxl-100 { left: 100% !important; }
}

// End
.end-0 { right: 0 !important; }
.end-10 { right: 10% !important; }
.end-20 { right: 20% !important; }
.end-25 { right: 25% !important; }
.end-30 { right: 30% !important; }
.end-33 { right: 33% !important; }
.end-40 { right: 40% !important; }
.end-50 { right: 50% !important; }
.end-60 { right: 60% !important; }
.end-66 { right: 66% !important; }
.end-70 { right: 70% !important; }
.end-75 { right: 75% !important; }
.end-80 { right: 80% !important; }
.end-90 { right: 90% !important; }
.end-100 { right: 100% !important; }
@media (min-width: @sm) {
    .end-sm-0 { right: 0 !important; }
    .end-sm-10 { right: 10% !important; }
    .end-sm-20 { right: 20% !important; }
    .end-sm-25 { right: 25% !important; }
    .end-sm-30 { right: 30% !important; }
    .end-sm-33 { right: 33% !important; }
    .end-sm-40 { right: 40% !important; }
    .end-sm-50 { right: 50% !important; }
    .end-sm-60 { right: 60% !important; }
    .end-sm-66 { right: 66% !important; }
    .end-sm-70 { right: 70% !important; }
    .end-sm-75 { right: 75% !important; }
    .end-sm-80 { right: 80% !important; }
    .end-sm-90 { right: 90% !important; }
    .end-sm-100 { right: 100% !important; }
}
@media (min-width: @md) {
    .end-md-0 { right: 0 !important; }
    .end-md-10 { right: 10% !important; }
    .end-md-20 { right: 20% !important; }
    .end-md-25 { right: 25% !important; }
    .end-md-30 { right: 30% !important; }
    .end-md-33 { right: 33% !important; }
    .end-md-40 { right: 40% !important; }
    .end-md-50 { right: 50% !important; }
    .end-md-60 { right: 60% !important; }
    .end-md-66 { right: 66% !important; }
    .end-md-70 { right: 70% !important; }
    .end-md-75 { right: 75% !important; }
    .end-md-80 { right: 80% !important; }
    .end-md-90 { right: 90% !important; }
    .end-md-100 { right: 100% !important; }
}
@media (min-width: @lg) {
    .end-lg-0 { right: 0 !important; }
    .end-lg-10 { right: 10% !important; }
    .end-lg-20 { right: 20% !important; }
    .end-lg-25 { right: 25% !important; }
    .end-lg-30 { right: 30% !important; }
    .end-lg-33 { right: 33% !important; }
    .end-lg-40 { right: 40% !important; }
    .end-lg-50 { right: 50% !important; }
    .end-lg-60 { right: 60% !important; }
    .end-lg-66 { right: 66% !important; }
    .end-lg-70 { right: 70% !important; }
    .end-lg-75 { right: 75% !important; }
    .end-lg-80 { right: 80% !important; }
    .end-lg-90 { right: 90% !important; }
    .end-lg-100 { right: 100% !important; }
}
@media (min-width: @xl) {
    .end-xl-0 { right: 0 !important; }
    .end-xl-10 { right: 10% !important; }
    .end-xl-20 { right: 20% !important; }
    .end-xl-25 { right: 25% !important; }
    .end-xl-30 { right: 30% !important; }
    .end-xl-33 { right: 33% !important; }
    .end-xl-40 { right: 40% !important; }
    .end-xl-50 { right: 50% !important; }
    .end-xl-60 { right: 60% !important; }
    .end-xl-66 { right: 66% !important; }
    .end-xl-70 { right: 70% !important; }
    .end-xl-75 { right: 75% !important; }
    .end-xl-80 { right: 80% !important; }
    .end-xl-90 { right: 90% !important; }
    .end-xl-100 { right: 100% !important; }
}
@media (min-width: @xxl) {
    .end-xxl-0 { right: 0 !important; }
    .end-xxl-10 { right: 10% !important; }
    .end-xxl-20 { right: 20% !important; }
    .end-xxl-25 { right: 25% !important; }
    .end-xxl-30 { right: 30% !important; }
    .end-xxl-33 { right: 33% !important; }
    .end-xxl-40 { right: 40% !important; }
    .end-xxl-50 { right: 50% !important; }
    .end-xxl-60 { right: 60% !important; }
    .end-xxl-66 { right: 66% !important; }
    .end-xxl-70 { right: 70% !important; }
    .end-xxl-75 { right: 75% !important; }
    .end-xxl-80 { right: 80% !important; }
    .end-xxl-90 { right: 90% !important; }
    .end-xxl-100 { right: 100% !important; }
}

// Center
.translate-middle { transform: translate(-50%, -50%); }
.translate-middle-x { transform: translateX(-50%); }
.translate-middle-y { transform: translateY(-50%); }
@media (min-width: @sm) {
    .translate-middle-sm { transform: translate(-50%, -50%); }
    .translate-middle-x-sm { transform: translateX(-50%); }
    .translate-middle-y-sm { transform: translateY(-50%); }
}
@media (min-width: @md) {
    .translate-middle-md { transform: translate(-50%, -50%); }
    .translate-middle-x-md { transform: translateX(-50%); }
    .translate-middle-y-md { transform: translateY(-50%); }
}
@media (min-width: @lg) {
    .translate-middle-lg { transform: translate(-50%, -50%); }
    .translate-middle-x-lg { transform: translateX(-50%); }
    .translate-middle-y-lg { transform: translateY(-50%); }
}
@media (min-width: @xl) {
    .translate-middle-xl { transform: translate(-50%, -50%); }
    .translate-middle-x-xl { transform: translateX(-50%); }
    .translate-middle-y-xl { transform: translateY(-50%); }
}
@media (min-width: @xxl) {
    .translate-middle-xxl { transform: translate(-50%, -50%); }
    .translate-middle-x-xxl { transform: translateX(-50%); }
    .translate-middle-y-xxl { transform: translateY(-50%); }
}
