//
// Core Framework Theme - Utilities/Z-Index
//
// @author     Louis Ouellet <louis@laswitchtech.com>
//

// Z-Index Variables
@zindex-dropdown:                  1000;
@zindex-sticky:                    1020;
@zindex-fixed:                     1030;
@zindex-offcanvas-backdrop:        1040;
@zindex-offcanvas:                 1045;
@zindex-modal-backdrop:            1050;
@zindex-modal:                     1055;
@zindex-popover:                   1070;
@zindex-tooltip:                   1080;
@zindex-toast:                     1090;
@zindex-n1:                          -1;
@zindex-0:                            0;
@zindex-1:                            1;
@zindex-2:                            2;
@zindex-3:                            3;
@zindex-4:                            4;
@zindex-5:                            5;

.zindex-n1 {
    z-index: @zindex-n1 !important;
}
.zindex-0 {
    z-index: @zindex-0 !important;
}
.zindex-1 {
    z-index: @zindex-1 !important;
}
.zindex-2 {
    z-index: @zindex-2 !important;
}
.zindex-3 {
    z-index: @zindex-3 !important;
}
.zindex-4 {
    z-index: @zindex-4 !important;
}
.zindex-5 {
    z-index: @zindex-5 !important;
}
@media (min-width: @sm) {
    .zindex-n1-sm {
        z-index: @zindex-n1 !important;
    }
    .zindex-0-sm {
        z-index: @zindex-0 !important;
    }
    .zindex-1-sm {
        z-index: @zindex-1 !important;
    }
    .zindex-2-sm {
        z-index: @zindex-2 !important;
    }
    .zindex-3-sm {
        z-index: @zindex-3 !important;
    }
    .zindex-4-sm {
        z-index: @zindex-4 !important;
    }
    .zindex-5-sm {
        z-index: @zindex-5 !important;
    }
}
@media (min-width: @md) {
    .zindex-n1-md {
        z-index: @zindex-n1 !important;
    }
    .zindex-0-md {
        z-index: @zindex-0 !important;
    }
    .zindex-1-md {
        z-index: @zindex-1 !important;
    }
    .zindex-2-md {
        z-index: @zindex-2 !important;
    }
    .zindex-3-md {
        z-index: @zindex-3 !important;
    }
    .zindex-4-md {
        z-index: @zindex-4 !important;
    }
    .zindex-5-md {
        z-index: @zindex-5 !important;
    }
}
@media (min-width: @lg) {
    .zindex-n1-lg {
        z-index: @zindex-n1 !important;
    }
    .zindex-0-lg {
        z-index: @zindex-0 !important;
    }
    .zindex-1-lg {
        z-index: @zindex-1 !important;
    }
    .zindex-2-lg {
        z-index: @zindex-2 !important;
    }
    .zindex-3-lg {
        z-index: @zindex-3 !important;
    }
    .zindex-4-lg {
        z-index: @zindex-4 !important;
    }
    .zindex-5-lg {
        z-index: @zindex-5 !important;
    }
}
@media (min-width: @xl) {
    .zindex-n1-xl {
        z-index: @zindex-n1 !important;
    }
    .zindex-0-xl {
        z-index: @zindex-0 !important;
    }
    .zindex-1-xl {
        z-index: @zindex-1 !important;
    }
    .zindex-2-xl {
        z-index: @zindex-2 !important;
    }
    .zindex-3-xl {
        z-index: @zindex-3 !important;
    }
    .zindex-4-xl {
        z-index: @zindex-4 !important;
    }
    .zindex-5-xl {
        z-index: @zindex-5 !important;
    }
}
@media (min-width: @xxl) {
    .zindex-n1-xxl {
        z-index: @zindex-n1 !important;
    }
    .zindex-0-xxl {
        z-index: @zindex-0 !important;
    }
    .zindex-1-xxl {
        z-index: @zindex-1 !important;
    }
    .zindex-2-xxl {
        z-index: @zindex-2 !important;
    }
    .zindex-3-xxl {
        z-index: @zindex-3 !important;
    }
    .zindex-4-xxl {
        z-index: @zindex-4 !important;
    }
    .zindex-5-xxl {
        z-index: @zindex-5 !important;
    }
}
