//
// Core Framework Theme - Content/Figures
//
// @author     Louis Ouellet <louis@laswitchtech.com>
//

// Figures
.figure, figure {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .figure-caption, figcaption, caption {
        margin-top: @margin;
        font-size: @body-font-size * 0.8;
        color: @text-muted;
    }
}
